# Исключаем виртуальное окружение
bot_env/

# Исключаем файлы IDE
.vscode/
.idea/
__pycache__/

# Исключаем файлы, которые не нужны в контейнере
*.pyc
*.pyo
*.log

# Исключаем файлы конфигурации системы
.DS_Store
.env

# Исключаем git-файлы
.git/
.gitignore
